/* файл анимации для страницы */

/* анимация для дочернего элемента при наведении на родителя */
.header-nav-logo:hover .header-nav-txt {
    background-image: linear-gradient(135deg, rgba(223,103,232,1) 0%, rgba(151,123,219,1) 27%, rgba(59,218,232,1) 70%, rgba(0,255,194,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.header-nav-list-item:hover {
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.2s;
}

.header-nav-list-item {
    transition: 0.2s;
}

.header-nav-list-item__last:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    transition: border, color, 0.2s;
}

.section-1-content-phone:hover,
.section-4-content-phone:hover,
.section-5-content-phone:hover {
    transform: translateY(-20px);
}

.section-1-content-phone,
.section-4-content-phone,
.section-5-content-phone,
.section-2-content-item-footer {
    transition: 0.2s;
}

.section-2-content-item:hover .section-2-content-item-img__logo {
    border-radius: 50%;
    transition: 0.2s;
}

.section-2-content-item-img__logo {
    transition: 0.2s;
}

.footer-logo:hover {
    transform: rotate(360deg);
    transition: 1s;
}
.footer-logo {
    transition: 1s;
}

button:hover {
    transform: translateZ(0) scale(1.2);
    transition: 0.2s;
}
button {
    transition: 0.2s;
}

#footer:hover .footer-links {
    transform: rotate(360deg);
    transition: 0.3s;
}

.footer-links {
    transition: 0.3s;
}

.to-top:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.to-top {
    transition: 0.5s;
}


