.header-nav-txt:hover {
    background-image: linear-gradient(135deg, rgba(223,103,232,1) 0%, rgba(151,123,219,1) 27%, rgba(59,218,232,1) 70%, rgba(0,255,194,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.5s;
}
.header-nav-list-item:hover {
    border: 2px solid black;
    border-radius: 5px;
    transition: border 0.2s;
}

.header-nav-list-item {
    transition: 0.2s;
}

.header-nav-list-item__last:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    transition: border, color, 0.2s;
}
.to-top:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

.to-top {
    transition: 0.2s;
}

.section-1-content-phone:hover,
.section-4-content-phone:hover,
.section-5-content-phone:hover {
    /* !!!!! нижнее свойство непонятно как работает. стоит 1 пиксель, поднимается явно не на 1 */
    top: 1px;
    transition: 0.2s;
}
.section-1-content-phone,
.section-4-content-phone,
.section-5-content-phone,
.section-2-content-item-footer {
    transition: 0.2s;
}

/* анимация для дочернего элемента при наведении на родителя */
.section-2-content-item:hover .section-2-content-item-img__logo {
    border-radius: 50%;
    transition: 0.2s;
}

.section-2-content-item-img__logo {
    transition: 0.2s;
}
