@font-face {
    font-family: 'Poppins';
    src: local('Poppins-Light'),
        url(/home-work-5/assets/fonts/Poppins-Light.ttf);
}
/* 
@font-face {
    font-family: 'Poppins';
    src: local('Poppins-Medium'),
        url(/home-work-5/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins-Medium'),
        url(/home-work-5/assets/fonts/Poppins-Medium.ttf);
} */
