* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    cursor: url(../assets/cur/Normal.cur), auto;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 300;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: url(../assets/cur/Link.cur), auto;
}

a {
    text-decoration: none;
    color: black;
    cursor: url(../assets/cur/Link.cur), auto;
}

.a-item {
    margin-top: 30px;
}
