.header {
    max-width: 100%;
    height: 90px;
    font-size: 18px;
    box-shadow: 0 3px 10px rgb(209, 209, 209);
}

/* навигация header */
.header-nav {
    display: flex;
    margin: 0 120px;
    height: 90px;
    justify-content: flex-end;
}

.header-nav__img {
    /* сомнительное позиционирование. если делать margin, например, в 50%, то отсчёт идёт не по родительскому эллементу, а по всему экрану */
    margin: auto;
    /* возможно, не самое лучшее решение делать margin-let после margin */
    margin-left: 32px;
}

/* Список кнопок навигации */
.header-nav-list {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    margin-right: 10px;
}

.header-nav-list__item,
.header-nav-list__item__last {
    margin-right: 10px;
    padding: 5px 10px;
    text-align: center;
}

.header-nav-list__item__last {
    padding: 5px 30px;
    background-color: black;
    border-radius: 5px ;
    color: white;
}


/* section 1 */
.section-1 {
    
    /* следующие 2 свойства для быстрого просмотра блока */
/* 
    background-color:aliceblue;
    border: 1px solid black;
 */

    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    max-width: 1200px;
    height: 450px;
    font-size: 2rem;

}

.section-1-content {

    /* следующее свойство для быстрого просмотра блока */
    /* background-color: aqua; */

    width: 420px;
    height: 350px;
    margin: 2.5em;
    font-size: 2rem;
}

.section-1-content-list {
    display: flex;
}

.section-1-content-list__item {
    margin: 5px;
    padding: 5px 30px;
    background-color: black;
    color: white;
    border-radius: 5px ;
}




