.header {
    max-width: 100%;
    min-height: 90px;
    font-size: 18px;
    box-shadow: 0 3px 10px rgb(209, 209, 209);
}

/* навигация header */
.header-nav {
    position: relative;
    margin: 0 120px;
    min-height: 90px;
        /* border: 2px solid black; */
}

.header-nav-logo {
    position: absolute;
    left: 0;
    min-width: 200px;
    min-height: 90px;

        /* border-right: 2px solid black; */
}

.header-nav-img {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
}

.header-nav-img__txt {
    position: absolute;
    top: 50%;
    left: 41px;
    transform: translateY(-50%);
    color: white;
    font-family: 'Poppins Medium', Poppins, monospace;
    font-weight: 900;
    font-size: 14px;
}

.header-nav-txt {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    font-weight: 900;
}

/* Список кнопок навигации */
.header-nav-list {
        /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 200px;
    justify-content: right;

}

.header-nav-list-item,
.header-nav-list-item__last {
    display: inline;
    margin: 20px;
    padding: 10px 20px;
        /* border: 1px solid black; */
    white-space: nowrap;
}

.header-nav-list-item__last {
    background-color: black;
    color: white;
    border-radius: 5px;
}



/* секция 1 на белом фоне */
.section-1 {
    /* следующие 2 свойства для быстрого просмотра блока */

    /* background-color:aliceblue;
    border: 1px solid black; */
position: relative;
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    max-width: 1200px;
    height: 450px;
    font-size: 2rem;

}

.section-1-content {
    /* следующее свойство для быстрого просмотра блока */
    /* background-color: aqua; */
    position: relative;
    width: 420px;
    height: 350px;
    margin: 2.5em;
    font-size: 2rem;
}

.section-1-content-phone {
    position: relative;
    top: 40px;
    right: 300px;
}

/* следующее решение из трёх классов, по-моему, колхоз */
.section-1-content-phone-border__back {
    position: absolute;
    z-index: 1;
}
.section-1-content-phone-img {
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 25px;
}
.section-1-content-phone-border__main {
    position: absolute;
    z-index: 3;
}
.section-1-content-list {
    display: flex;
}

.section-1-content-list__item {
    margin: 5px;
    padding: 5px 30px;
    background-color: black;
    color: white;
    border-radius: 5px ;
}



/* секция 2 на чёрном фоне с шестью флекс-блоками */
.section-2 {
    position: relative;
    z-index: 3;
    margin: -5px auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 1.4rem;
    text-align: center;
    color: white;
}

.section-2-header {
    margin: auto;
    padding: 40px;
    width: 600px;
}

.section-2-header-title {
    /* задаём отступ между буквами */
    letter-spacing: 0.5em;
}

.section-2-content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.section-2-content-item {
    position: relative;
    margin: 20px auto;
    background-color: white;
    border-radius: 30px;
    width: 380px;
    height: 490px;
}

.section-2-content-item-footer {
position: absolute;
z-index: 4;
background-color: #F2F2F2;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
margin-top: 290px;
width: 380px;
height: 200px;
font-size: 1.8rem;
}

.section-2-content-item-img__logo {
    position: absolute;
    z-index: 4;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
}

.section-2-content-item-footer__title-1 {
    margin: 50px auto;
    color: #0278ED;
}

.section-2-content-item-phone-border {
    position: absolute;
    z-index: 1;
    margin-top: 45px;
    left: 50%;
    transform: translateX(-50%);

}

.section-2-content-item-phone-img {
    position: absolute;
    z-index: 2;
    margin-top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.section-2-content-item-phone-main {
    position: absolute;
    z-index: 3;
    margin-top: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.section-2-content-item-footer__title-2 {
    margin: 50px auto;
    color: #FF5437;
}

.section-2-content-item-footer__title-3 {
    margin: 50px auto;
    color: #FF9209;
}

.section-2-content-item-footer__title-4 {
    margin: 50px auto;
    color: #E738CE;
}

.section-2-content-item-footer__title-5 {
    margin: 50px auto;
    color: #00C6DF;
}

.section-2-content-item-footer__title-6 {
    margin: 50px auto;
    color: #B25DF8;
}

.section-2-content-item-footer__text {
    margin: -50px 20px;
    color: black;
}





/* 3-я секция на красном фоне */
.section-3 {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    background-color: #FF5437;
    font-size: 4rem;
    color: white;
}

.section-3-content {
    /* следующий margin для центрирования по вертикали, однако он может заменить свойство space-arround родительского элемента */
    margin: auto;
    text-align: center;
}

.section-3-content__text {
    font-size: 1.5rem;
}



/* секция 4 на белом фоне */
.section-4 {
    position: relative;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    height: 450px;
    font-size: 1.9rem;
}

.section-4-content {
    margin: 3%;
    max-width: 420px;
}


.section-4-content-phone {
    position: relative;
    top: 40px;
    right: 300px;
}
.section-4-content-phone-img {
    position: absolute;
    top: 25px;
    left: 28px;

}
.section-4-content-phone-border {
    position: absolute;
}




























































































/* секция 5 на сером фоне */
.section-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 105px;
    width: 100%;
    height: 650px;
    background-color: #F2F2F2;
    font-size: 1.9rem;
}

.section-5-content {
    margin-top: 40px;
    max-width: 420px;
    height: 380px;
}






.section-6 {
    background-color: black;
    width: 100%;
    height: 1000px;
    padding-top: 125px;
    color: white;
}

.section-6-content {
    background-color: black;
    width: 600px;
    height: 750px;
    margin: auto;
    text-align: center;
    font-size: 1.9rem;
}

.section-6-content-hover {
    border: 2px solid #E5E5E5;
    margin: -260px auto;
}


.section-6-content-footer {
    background-color: #00C6DF;
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
    width: 600px;
    height: 110px;

}

.section-6-content-footer__image {
    background-color:#B25DF8;
}
.section-6-content-footer__title {
    color:#B25DF8;
}