.header {
    max-width: 100%;
    height: 90px;
    font-size: 18px;
    box-shadow: 0 3px 10px rgb(209, 209, 209);
}

/* навигация header */
.header-nav {
    display: flex;
    order: -1;
    margin: 0 120px;
    height: 90px;
    font-family: 'Poppins', sans-serif;
    justify-content: flex-end;
}

.header-nav__img {
    /* сомнительное позиционирование. если делать margin, например, в 50%, то отсчёт идёт не по родительскому эллементу, а по всему экрану */
    margin: auto;
    /* возможно, не самое лучшее решение делать margin-let после margin */
    margin-left: 32px;
}

/* Список кнопок навигации */
.header-nav-list {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    margin-right: 10px;
}

.header-nav-list__item,
.header-nav-list__item__last {
    display: flex;
    margin-right: 10px;
    padding: 5px 10px;
    text-align: center;
}

.header-nav-list__item__last {
    padding: 5px 30px;
    background-color: black;
    border-radius: 5px ;
    color: white;
}