#header {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    max-width: 100%;
    font-size: 1.8rem;
    box-shadow: 0 3px 10px rgb(209, 209, 209);
}

/* навигация header */
.header-logo {
    display: flex;
    padding: 30px;
}

.header__txt {
    padding-left: 10px;
    font-weight: 600;
}

/* Список кнопок навигации */
.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: auto 0;
    justify-content: center;
}

.nav__item {
    padding: 10px 20px;
    white-space: nowrap;
    background-color: white;
    font-size: 1.7rem;
}

.nav__item:last-child {
    background-color: black;
    color: white;
    border-radius: 5px;
}




/* секция 1 на белом фоне */
#happy {
    display: flex;
    padding: 70px 0;
    font-size: 2rem;
}

.happy-content {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    font-size: 2rem;
    gap: 4rem;
}

.happy-txt {
    max-width: 500px;
    font-size: 2rem;
}

.happy-txt__text {
    margin-top: 10px;
    max-width: 300px;
}

.happy-txt__title {
    font-size: 6rem;
    line-height: 6.5rem;
    font-weight: 600;
}

.happy-content__button {
    margin: 20px 0;
    margin-right: 20px;
    padding: 15px 30px;
    background-color: black;
    color: white;
    border-radius: 5px ;
    letter-spacing: 0.3rem;
}

.happy-phone {
    position: relative;
    /* подгоняем рамку телефона на ровне с высотой логотипа */
    top: -10px;
    /* margin-left: 50px; */
        /* колхозное решение, чтоб телефон был псевдо-relative */
        width: 376px;
        /* при уменьшении масштаба без этого свойства телефон почти не видно */
        height: 400px;
}

.happy-phone__img {
    position: absolute;
    /* смещение изображения, чтобы оно попало под рамку телефона */
    top: 25px;
    left: 25px;
}
.happy-phone__border {
    position: absolute;
}



/* секция 2 на чёрном фоне с шестью флекс-блоками */
#features {
    position: relative;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 1.4rem;
    text-align: center;
    color: white;
}

.features-header {
    margin: auto;
    padding: 40px;
    max-width: 600px;
}

.features__title {
    /* задаём отступ между буквами */
    letter-spacing: 0.5em;
    font-size: 1.5rem;
}

.features__posttitle {
    font-size: 3rem;
}


.features-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 80px;
    max-width: 1200px;
}

.features-item {
        /* border: 2px solid red; */
    position: relative;
    background-color: white;
    border-radius: 30px;
    width: 380px;
    min-height: 490px;
}

.features-item-footer {
    padding-bottom: 20px;
    position: absolute;
    z-index: 3;
    background-color: #F2F2F2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    bottom: 0;
    width: 100%;
    font-size: 1.8rem;
}

.features-footer__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features-phone__border {
    position: absolute;
    margin-top: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.features-phone__img {
    position: absolute;
    margin-top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.features-footer__title-1,
.features-footer__title-2,
.features-footer__title-3,
.features-footer__title-4,
.features-footer__title-5,
.features-footer__title-6 {
    font-weight: 500;
    margin: 50px auto 10px;
}

.features-footer__title-1 {
    color: #0278ED;
}

.features-footer__title-2 {
    color: #FF5437;
}

.features-footer__title-3 {
    color: #FF9209;
}

.features-footer__title-4 {
    color: #E738CE;
}

.features-footer__title-5 {
    color: #00C6DF;
}

.features-footer__title-6 {
    color: #B25DF8;
}

.features-footer__text {
    margin: 0 auto;
    padding: 0 20px;
    color: black;
}



/* 3-я секция на красном фоне */
#red  {
    display: flex;
    width: 100%;
    background-color: #FF5437;
    font-size: 4rem;
    color: white;
}

.red-content {
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    padding: 50px;
    /* ??? */
    width: 1200px;
    text-align: center;
}

.red-item__text {
    font-size: 1.2rem;
}



/* секция 4 на белом фоне */
#technology {
    position: relative;
    margin: 0 auto;
    padding: 200px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.9rem;
}

.technology-content {
    display: flex;
    gap: 20rem;
    justify-content: space-between;
    min-width: 420px;
}

.technology-txt {
    position: relative;
    max-width: 400px;
}


.technology__title {
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 300;
}
.technology__posttitle {
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 500;
}
.technology-phone {
    width: 321px;
    position: relative;
}

.technology-phone__img {
    position: absolute;
    top: 25px;
    left: 28px;
}

.technology-phone__border {
    position: absolute;
}



/* секция 5 на сером фоне */
#speed {
    position: relative;
    margin: 0 auto;
    padding: 200px 0;
    display: flex;
    justify-content: center;
    width: 100% ;
    font-size: 1.9rem;
    background-color: #F2F2F2;
}

.speed-content {
    display: flex;
    gap: 20rem;
    justify-content: space-between;
}


.speed-phone {
    width: 321px;
    position: relative;
}

.speed-phone__img {
    position: absolute;
    top: 24px;
    left: 28px;
}

.speed-phone__border {
    position: absolute;

}

.speed-txt {
    margin-top: 40px;
    max-width: 420px;
}

.speed__title {
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 300;
}
.speed__posttitle {
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 500;
}



/* секция 6 на чёрном фоне */
#dark {
    position: relative;
    background-color: #222222;
    width: 100%;
    padding-top: 100px;
    color: white;
    
}

.dark-content {
    position: relative;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 300;
}

.dark__title, 
.dark__posttitle {
    font-weight: 400;
}

.dark__title {
    font-size: 1.5rem;
}

.dark__posttitle {
    padding-bottom: 20px;
}

.dark-phone {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    height: 456px;
}

.dark-phone__img {
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.dark-phone__border {
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.dark-hover {
    position: relative;
    border: 2px solid #E5E5E5;
    z-index: 4;
    width: 600px;
}

.dark-footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 150px;
    width: 600px;
    background-color: #222222;
}

.dark-footer-image {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 20px;
    width: 300px;
}

.dark-footer-title {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px 0 50px;
    width: 300px;
    color: white;
    font-weight: 300;
    letter-spacing: 0.2em;
}



/* 7-я секция на белом фоне с ценниками */
#pricing {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.pricing-header {
    margin: 0 auto;
    padding-top: 80px;
    max-width: 600px;
    font-weight: 400;
    font-size: 2.3rem;
}

.pricing__title {
    font-size: 2rem;
}

.pricing__posttitle {
    font-weight: 400;
}

.pricing-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
    margin: auto;
    padding: 70px 0;
    max-width: 1200px;
}

.cards-item1,
.cards-item2,
.cards-item3 {
    width: 350px;
    height: 330px;
    background-color: #F2F2F2;
    border-radius: 30px;
    font-size: 4.9rem;
}

.cards-item1__title,
.cards-item2__title,
.cards-item3__title {
    margin-top:50px;
    font-size: 2rem;
    font-weight: 400;
}
.cards-item1__price,
.cards-item2__price,
.cards-item3__price {
    font-weight: 500;
}

.cards-item1__time,
.cards-item2__time,
.cards-item3__time {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: black;
}

.cards-item1__button,
.cards-item2__button,
.cards-item3__button {
    padding: 10px 30px;
    color: white;
    font-weight: 100;
}

.cards-item1 {
    color: #0278ED;
}

.cards-item2 {
    color: #FF5437;
}

.cards-item3 {
    color: #FF9209;
}

.cards-item1__button {
    background-color: #0278ED;
}

.cards-item2__button {
    background-color: #FF5437;
}

.cards-item3__button {
    background-color: #FF9209;
}



/* 8-я секция на сером фоне с отзывами */
#testimotionals {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 50px;
    width: 100%;
    background-color: #F2F2F2;
    
}

.testimotionals-header {
    margin: 0 auto;
    padding: 80px 0;
    width: 600px;
    font-weight: 400;
    font-size: 2.3rem;
    text-align: center;}

.testimotionals__title {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.testimotionals__posttitle {
    padding-bottom: 10px;
}

.testimotionals-content {
    margin: 0 auto;
    max-width: 1200px;
}

.testimotionals-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.testimotionals-cards-item {
    position: relative;
    padding: 20px 30px;
    background-color: white;
    border-radius: 30px;
    font-size: 1.5rem;
    text-align: left;
}

.user__txt {
    width: 300px;
    padding-bottom: 60px;
}

.user__photo {
    position: absolute;
    bottom: 20px;
}

.cards-item__user {
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    left: 100px;
    max-width: 150px;
    font-size: 2rem;
}



/* 9-я секция на белом фоне DOWNLOAD  */
#download {
    position: relative;
    width: 100%;
}

.download-header {
    margin: 80px auto 0;
    width: 600px;
    font-size: 2rem;
    text-align: center;
}

.download__title {
    font-weight: 400;
    padding: 10px;
}

.download-content {
    margin: 0 auto;
    max-width: 1200px;
}

.download-button {
    margin: 50px auto 100px;
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 60px;
    background-color: black;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 10px;
    color: white;
}

.section-9-content-button__txt {
    margin: auto;
    font-size: 1.5rem;
}



/* 10-я секция на сером фоне FAQ */
#faq {
    position: relative;
    /* display: flex; */
    background-color: #E5E5E5;
    width: 100%;
}


.faq-header {
    padding: 20px;

    font-size: 3rem;
}

.faq-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px;
    max-width: 1200px;
    font-size: 2rem;
}

.faq-item {
    padding: 20px;
    width: 570px;
}

.faq-item__title {
    padding-bottom: 10px;
}


/* подвал сайта */
#footer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 100%;
}

.footer-logo {
    margin: 100px auto 0;
}

.footer-logo__txt {
    /* позиция relative с z-индексом нужна для того, чтоб при анимации вращения картинки надпись (Н) не скрывалась */
    position: relative;
    z-index: 1;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin: -63px 10px 0;
    color: white;
}

.footer-txt {
    margin-top: 50px;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.footer-links {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.footer-txt__end {
    margin: 20px auto 120px;
    font-size: 2rem;
    font-weight: 300;
}

.to-top {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 4rem;
    font-weight: 700;
    opacity: 0.3;
}
