.header {
    max-width: 100%;
    height: 90px;
    font-size: 18px;
    box-shadow: 0 3px 10px rgb(209, 209, 209);
}

/* навигация header */
.header-nav {
    display: flex;
    margin: 0 120px;
    height: 90px;
    justify-content: flex-end;
}

.header-nav__img {
    /* сомнительное позиционирование. если делать margin, например, в 50%, то отсчёт идёт не по родительскому эллементу, а по всему экрану */
    margin: auto;
    /* возможно, не самое лучшее решение делать margin-let после margin */
    margin-left: 32px;
}

/* Список кнопок навигации */
.header-nav-list {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    margin-right: 10px;
}

.header-nav-list__item,
.header-nav-list__item__last {
    margin-right: 10px;
    padding: 5px 10px;
    text-align: center;
}

.header-nav-list__item__last {
    padding: 5px 30px;
    background-color: black;
    border-radius: 5px ;
    color: white;
}


/* секция 1 на белом фоне */
.section-1 {
    
    /* следующие 2 свойства для быстрого просмотра блока */
/* 
    background-color:aliceblue;
    border: 1px solid black;
 */

    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    max-width: 1200px;
    height: 450px;
    font-size: 2rem;

}

.section-1-content {

    /* следующее свойство для быстрого просмотра блока */
    /* background-color: aqua; */

    width: 420px;
    height: 350px;
    margin: 2.5em;
    font-size: 2rem;
}

.section-1-content-list {
    display: flex;
}

.section-1-content-list__item {
    margin: 5px;
    padding: 5px 30px;
    background-color: black;
    color: white;
    border-radius: 5px ;
}



/* секция 2 на чёрном фоне с шестью флекс-блоками */
.section-2 {

    /* position: absolute; */

    margin: -5px auto;
    width: 100%;
    height: 1400px;
    background-color: rgb(0, 0, 0);
    font-size: 1.4rem;
    text-align: center;
    color: white;
}

.section-2-header {
    margin: auto;
    width: 1600px;
    height: 110px;
}

.section-2-header-title {
    /* задаём отступ между буквами */
    padding-top: 100px;
    letter-spacing: 0.5em;
}

.section-2-content {
    margin: 150px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    height: 1000px;
}

.section-2-content-item {

    margin: auto;
    background-color: white;
    border-radius: 30px;
    width: 380px;
    height: 490px;
}

.section-2-content-item-img__logo {
    position: absolute;
    margin: 260px -140px;
}

.section-2-content-item-footer {
    position: absolute;
    background-color: #F2F2F2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: -255px;
    width: 380px;
    height: 200px;
    font-size: 1.8rem;
}

.section-2-content-item-footer__title-1 {
    margin: 50px auto;
    color: #0278ED;
}

.section-2-content-item-footer__title-2 {
    margin: 50px auto;
    color: #FF5437;
}

.section-2-content-item-footer__title-3 {
    margin: 50px auto;
    color: #FF9209;
}

.section-2-content-item-footer__title-4 {
    margin: 50px auto;
    color: #E738CE;
}

.section-2-content-item-footer__title-5 {
    margin: 50px auto;
    color: #00C6DF;
}

.section-2-content-item-footer__title-6 {
    margin: 50px auto;
    color: #B25DF8;
}

.section-2-content-item-footer__text {
    margin: -50px 20px;
    color: black;
}

.section-2-content-item-img {
    margin: 45px auto;

}



/* 3-я секция на красном фоне */
.section-3 {
    
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    height: 300px;
    background-color: #FF5437;
    font-size: 4rem;
    color: white;
}

.section-3-content {
    /* следующий margin для центрирования по вертикали, однако он может заменить свойство space-arround родительского элемента */
    margin: auto;
    text-align: center;
}

.section-3-content__text {
    font-size: 1.5rem;
}
